/*
*/

#[aoc_generator(day3)]
pub fn input_generator(input: &str) -> Vec<usize> {
    vec![]
}

#[aoc(day3, part1)]
pub fn part1(input: &[usize]) -> usize {
    0
}

#[aoc(day3, part2)]
pub fn part2(input: &[usize]) -> usize {
    0
}

#[cfg(test)]
mod tests {
    use super::*;

    #[test]
    fn input() {
        let input = "";
        assert_eq!(input_generator(input), []);
    }

    #[test]
    fn sample1() {
        let input = "";
        assert_eq!(part1(&input_generator(input)), 0);
    }

    #[test]
    fn sample2() {
        let input = "";
        assert_eq!(part2(&input_generator(input)), 0);
    }
}
